USE [capStoneDB]
GO
/****** Object:  Table [dbo].[ClaimReviews]    Script Date: 09-03-2026 15:16:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClaimReviews](
	[Id] [uniqueidentifier] NOT NULL,
	[ClaimId] [uniqueidentifier] NOT NULL,
	[OfficerId] [uniqueidentifier] NOT NULL,
	[DisabilityPercentage] [decimal](5, 2) NULL,
	[RecoveryWeeks] [int] NULL,
	[FraudRiskScore] [decimal](5, 2) NULL,
	[Notes] [nvarchar](1000) NULL,
 CONSTRAINT [PK_ClaimReviews] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Claims]    Script Date: 09-03-2026 15:16:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Claims](
	[Id] [uniqueidentifier] NOT NULL,
	[PolicyId] [uniqueidentifier] NOT NULL,
	[CustomerId] [uniqueidentifier] NOT NULL,
	[OfficerId] [uniqueidentifier] NULL,
	[CoverageCategory] [int] NOT NULL,
	[IncidentDate] [datetime2](7) NOT NULL,
	[Description] [nvarchar](1000) NOT NULL,
	[ClaimAmount] [decimal](18, 2) NOT NULL,
	[ApprovedAmount] [decimal](18, 2) NULL,
	[DocumentFilePath] [nvarchar](500) NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_Claims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nominees]    Script Date: 09-03-2026 15:16:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nominees](
	[Id] [uniqueidentifier] NOT NULL,
	[PolicyId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Relationship] [nvarchar](100) NOT NULL,
	[DateOfBirth] [datetime2](7) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Nominees] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 09-03-2026 15:16:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[Id] [uniqueidentifier] NOT NULL,
	[PolicyId] [uniqueidentifier] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[PaymentStatus] [int] NOT NULL,
	[PaymentMethod] [nvarchar](50) NOT NULL,
	[PaymentDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Payments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Policies]    Script Date: 09-03-2026 15:16:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Policies](
	[Id] [uniqueidentifier] NOT NULL,
	[RequestId] [uniqueidentifier] NOT NULL,
	[PolicyNumber] [nvarchar](max) NOT NULL,
	[CustomerId] [uniqueidentifier] NOT NULL,
	[AssignedAgentId] [uniqueidentifier] NOT NULL,
	[PolicyTypeId] [uniqueidentifier] NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NOT NULL,
	[FinalPremium] [decimal](18, 2) NOT NULL,
	[CoverageAmount] [decimal](18, 2) NOT NULL,
	[AgentCommissionAmount] [decimal](18, 2) NOT NULL,
	[Status] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Policies] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PolicyCoverages]    Script Date: 09-03-2026 15:16:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PolicyCoverages](
	[Id] [uniqueidentifier] NOT NULL,
	[PolicyTypeId] [uniqueidentifier] NOT NULL,
	[CoverageCategory] [int] NOT NULL,
	[PercentageOfCoverage] [decimal](5, 2) NOT NULL,
	[WeeklyCompensationPercentage] [decimal](5, 2) NULL,
	[MaxWeeks] [int] NULL,
	[Description] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_PolicyCoverages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PolicyRequests]    Script Date: 09-03-2026 15:16:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PolicyRequests](
	[Id] [uniqueidentifier] NOT NULL,
	[CustomerId] [uniqueidentifier] NOT NULL,
	[PolicyTypeId] [uniqueidentifier] NOT NULL,
	[AssignedAgentId] [uniqueidentifier] NULL,
	[RequestDate] [datetime2](7) NOT NULL,
	[Status] [int] NOT NULL,
	[PersonalHabits] [nvarchar](500) NULL,
	[MedicalHistory] [nvarchar](500) NULL,
	[DocumentFilePath] [nvarchar](500) NULL,
	[TotalRiskScore] [decimal](5, 2) NULL,
	[CalculatedPremium] [decimal](18, 2) NULL,
	[CoverageAmount] [decimal](18, 2) NULL,
	[IsEligible] [bit] NULL,
	[IsPaid] [bit] NOT NULL,
	[NomineeName] [nvarchar](100) NULL,
	[NomineeRelation] [nvarchar](50) NULL,
	[PaymentDate] [datetime2](7) NULL,
 CONSTRAINT [PK_PolicyRequests] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PolicyTypes]    Script Date: 09-03-2026 15:16:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PolicyTypes](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[BasePremium] [decimal](18, 2) NOT NULL,
	[BaseCoverageAmount] [decimal](18, 2) NOT NULL,
	[DurationMonths] [int] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
	[Features] [nvarchar](1000) NOT NULL,
 CONSTRAINT [PK_PolicyTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Settlements]    Script Date: 09-03-2026 15:16:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Settlements](
	[Id] [uniqueidentifier] NOT NULL,
	[ClaimId] [uniqueidentifier] NOT NULL,
	[SettlementAmount] [decimal](18, 2) NOT NULL,
	[SettlementDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Settlements] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 09-03-2026 15:16:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[Role] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[DateOfBirth] [date] NULL,
	[Phone] [nvarchar](20) NULL,
	[Address] [nvarchar](300) NULL,
	[Occupation] [nvarchar](150) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [PaymentDate]
GO
ALTER TABLE [dbo].[Policies] ADD  DEFAULT ((0.0)) FOR [AgentCommissionAmount]
GO
ALTER TABLE [dbo].[PolicyRequests] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsPaid]
GO
ALTER TABLE [dbo].[PolicyTypes] ADD  DEFAULT (N'') FOR [Description]
GO
ALTER TABLE [dbo].[PolicyTypes] ADD  DEFAULT (N'') FOR [Features]
GO
ALTER TABLE [dbo].[ClaimReviews]  WITH CHECK ADD  CONSTRAINT [FK_ClaimReviews_Claims_ClaimId] FOREIGN KEY([ClaimId])
REFERENCES [dbo].[Claims] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ClaimReviews] CHECK CONSTRAINT [FK_ClaimReviews_Claims_ClaimId]
GO
ALTER TABLE [dbo].[ClaimReviews]  WITH CHECK ADD  CONSTRAINT [FK_ClaimReviews_Users_OfficerId] FOREIGN KEY([OfficerId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[ClaimReviews] CHECK CONSTRAINT [FK_ClaimReviews_Users_OfficerId]
GO
ALTER TABLE [dbo].[Claims]  WITH CHECK ADD  CONSTRAINT [FK_Claims_Policies_PolicyId] FOREIGN KEY([PolicyId])
REFERENCES [dbo].[Policies] ([Id])
GO
ALTER TABLE [dbo].[Claims] CHECK CONSTRAINT [FK_Claims_Policies_PolicyId]
GO
ALTER TABLE [dbo].[Claims]  WITH CHECK ADD  CONSTRAINT [FK_Claims_Users_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Claims] CHECK CONSTRAINT [FK_Claims_Users_CustomerId]
GO
ALTER TABLE [dbo].[Claims]  WITH CHECK ADD  CONSTRAINT [FK_Claims_Users_OfficerId] FOREIGN KEY([OfficerId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Claims] CHECK CONSTRAINT [FK_Claims_Users_OfficerId]
GO
ALTER TABLE [dbo].[Nominees]  WITH CHECK ADD  CONSTRAINT [FK_Nominees_Policies_PolicyId] FOREIGN KEY([PolicyId])
REFERENCES [dbo].[Policies] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Nominees] CHECK CONSTRAINT [FK_Nominees_Policies_PolicyId]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Policies_PolicyId] FOREIGN KEY([PolicyId])
REFERENCES [dbo].[Policies] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Policies_PolicyId]
GO
ALTER TABLE [dbo].[Policies]  WITH CHECK ADD  CONSTRAINT [FK_Policies_PolicyRequests_RequestId] FOREIGN KEY([RequestId])
REFERENCES [dbo].[PolicyRequests] ([Id])
GO
ALTER TABLE [dbo].[Policies] CHECK CONSTRAINT [FK_Policies_PolicyRequests_RequestId]
GO
ALTER TABLE [dbo].[Policies]  WITH CHECK ADD  CONSTRAINT [FK_Policies_PolicyTypes_PolicyTypeId] FOREIGN KEY([PolicyTypeId])
REFERENCES [dbo].[PolicyTypes] ([Id])
GO
ALTER TABLE [dbo].[Policies] CHECK CONSTRAINT [FK_Policies_PolicyTypes_PolicyTypeId]
GO
ALTER TABLE [dbo].[Policies]  WITH CHECK ADD  CONSTRAINT [FK_Policies_Users_AssignedAgentId] FOREIGN KEY([AssignedAgentId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Policies] CHECK CONSTRAINT [FK_Policies_Users_AssignedAgentId]
GO
ALTER TABLE [dbo].[Policies]  WITH CHECK ADD  CONSTRAINT [FK_Policies_Users_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Policies] CHECK CONSTRAINT [FK_Policies_Users_CustomerId]
GO
ALTER TABLE [dbo].[PolicyCoverages]  WITH CHECK ADD  CONSTRAINT [FK_PolicyCoverages_PolicyTypes_PolicyTypeId] FOREIGN KEY([PolicyTypeId])
REFERENCES [dbo].[PolicyTypes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PolicyCoverages] CHECK CONSTRAINT [FK_PolicyCoverages_PolicyTypes_PolicyTypeId]
GO
ALTER TABLE [dbo].[PolicyRequests]  WITH CHECK ADD  CONSTRAINT [FK_PolicyRequests_PolicyTypes_PolicyTypeId] FOREIGN KEY([PolicyTypeId])
REFERENCES [dbo].[PolicyTypes] ([Id])
GO
ALTER TABLE [dbo].[PolicyRequests] CHECK CONSTRAINT [FK_PolicyRequests_PolicyTypes_PolicyTypeId]
GO
ALTER TABLE [dbo].[PolicyRequests]  WITH CHECK ADD  CONSTRAINT [FK_PolicyRequests_Users_AssignedAgentId] FOREIGN KEY([AssignedAgentId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[PolicyRequests] CHECK CONSTRAINT [FK_PolicyRequests_Users_AssignedAgentId]
GO
ALTER TABLE [dbo].[PolicyRequests]  WITH CHECK ADD  CONSTRAINT [FK_PolicyRequests_Users_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[PolicyRequests] CHECK CONSTRAINT [FK_PolicyRequests_Users_CustomerId]
GO
ALTER TABLE [dbo].[PolicyTypes]  WITH CHECK ADD  CONSTRAINT [FK_PolicyTypes_Users_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[PolicyTypes] CHECK CONSTRAINT [FK_PolicyTypes_Users_CreatedBy]
GO
ALTER TABLE [dbo].[Settlements]  WITH CHECK ADD  CONSTRAINT [FK_Settlements_Claims_ClaimId] FOREIGN KEY([ClaimId])
REFERENCES [dbo].[Claims] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Settlements] CHECK CONSTRAINT [FK_Settlements_Claims_ClaimId]
GO
